.scroll{
    overflow-y: auto;
    height: 500px;
    scrollbar-width: none;
    margin-block: 60px;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.faqSection{
    position: relative;
    padding-block: 195px;
}
.faqSection::before{
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.9;
    background-color: #fff;
    z-index: 1;
}
.faqSection .faqContents{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.faqContents h1{
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: #111827;
    margin-top: 17px;
    line-height: 56px;
    text-align: center;
}
.faqContents .faqQuestionsAndAnswer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding-inline: 130px;
}
.faqQuestionsAndAnswer .faqItem{
    display: flex;
    flex-direction: column;
    background-color: #0A2B32;
    padding-inline: 35px 70px;
    padding-bottom: 20px;
    border-radius: 14px;
}
.faqItem .faqQuestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-block: 40px 15px;
}
.faqQuestion h3{
    display: flex;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
}
.faqQuestion button{
    font-size: 25px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #03D26F;
    background-color: #fff;
    border: none;
    padding: 7px;
    border-radius: 6px;
}
.faqAnswer{
    display: grid;
    grid-template-rows: 0fr;
}
.faqAnswer p{
    overflow: hidden;
    font-family: "Geist", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #fff;
}
.faqItem.open .faqAnswer {
  grid-template-rows: 1fr;
  padding-bottom: 20px;
}
